<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSection>
    <section name="nlog" type="NLog.NLogConfig.ConfigSectionHandler, NLog"/>
  </configSection>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">


      <target name="logFileTarget"
                xsi:type="File"
                layout="${logger}::${longdate}|${level:uppercase=true}|${message}"
                fileName="C:\Logs\${date:format=yyyy-MM-dd}_FrameworkTest.txt"
                createDirs="true"
                deleteOldFileOnStartup="false"
            />
      <target name="console"
              xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}"
              detectConsoleAvailable="true"
              />
      <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logFileTarget" />
      <logger name="*" minlevel="Trace" writeTo="debugger" />
      <logger name="*" minlevel="Trace" writeTo="console" />

    </rules>
  </nlog>
</configuration>